.list {
    display: flex;
    flex-direction: column;    
    gap: 20px;

    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.subItem {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 450px;
    font-size: 0.75rem;    
}

.descr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    font-size: 0.7rem;    
}